body {
  padding-top: 100px;
  user-select: none;
  width: 100%;
}
.navbar-brand {
  user-select: none;
  cursor: pointer;
}

.title {
  font-size: 35px;
  letter-spacing: 1.5px;
}
.themeColor-text {
  letter-spacing: 1.4px;
}

.custom-btn-about {
  width: 100px;
  background-color: rgba(165, 57, 219);
  color: white;
  font-weight: 500;
  border-width: 2px;
  border-radius: 12px;
  transition: 0.4s ease;
}
.custom-btn-about:hover {
  border-width: 2px;
  border-color: rgba(165, 57, 219);
  transition: 0.4s ease;
  color: rgba(165, 57, 219);
}



.nav-alignment {
  margin: auto;
}
.nav-alignment-btn {
  margin: auto;
}

.nav-item.dropdown:hover .custom-dropdown {
  display: block;
}
.dropdown-item:hover {
  background-color: rgba(165, 57, 219);
  color: white;
}

.mx-custom {
  margin-left: 30px;
}
.custom-size {
  width: 80%;
  margin-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; /* Ensure the navbar is on top of other elements */
}
.Home-content {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.custom-btn-contact {
  width: 200px;
  background-color: rgba(165, 57, 219);
  color: white;
  font-weight: 500;
  border-width: 2px;
  border-radius: 22px;
  transition: 0.5s ease;
}

.custom-btn-contact:hover {
  border-width: 2px;
  border-color: rgba(165, 57, 219);
  transition: 0.5s ease;
  color: rgba(165, 57, 219);
}

.custom-btn-light {
  width: 200px;
  background-color: white;
  color: rgba(165, 57, 219);
  font-weight: 500;
  border-width: 2px;
  border-color: rgba(165, 57, 219);
  border-radius: 22px;
  transition: 0.5s ease;
}
.custom-btn-light:hover {
  color: rgba(165, 57, 219);
  border-width: 2px;
  border-radius: 22px;
  transition: 0.5s ease;
}

@media (max-width:1200px) {

  .custom-btn-light {
    width: 150px;
    background-color: white;
    color: rgba(165, 57, 219);
    font-weight: 500;
    border-width: 2px;
    border-color: rgba(165, 57, 219);
    border-radius: 22px;
    transition: 0.5s ease;
  }
  .custom-btn-light:hover {
    color: rgba(165, 57, 219);
    border-width: 2px;
    border-radius: 22px;
    transition: 0.5s ease;
  }
}


.text-grey {
  color: rgb(74, 72, 72);
}
.stroke-line {
  height: 6px;
  width: 60px;
  background-color: rgba(165, 57, 219);
  border-radius: 8px;
}

.nav-item-link:hover {
  color: rgba(165, 57, 219) !important ;
  transition: 0.3s;
}

.themeColor-text {
  color: rgba(165, 57, 219);
  font-weight: 500;
  font-size: 20px;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes floating {
  from {
    transform: translateX(-30%);
  }

  to {
    transform: translateX(0%);
  }
}

.animate__floating {
  animation-name: floating;
  animation-iteration-count: 1.5s;
  animation-timing-function: ease-in-out;
}

.animate__animated {
  animation-duration: 1.3s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
}
.card-alignment {
  padding: 70px;
}
.blog-tag {
  z-index: 1;
  width: 100%;
  height: 90px;
  background-color: rgba(165, 57, 219);
  margin-top: 100px;
}

.blog {
  letter-spacing: 1px;
  margin-top: 50px;
  vertical-align: middle;
  text-align: center;

  font-size: 50px;
  font-weight: 500;
}
.tech-subtitle {
  letter-spacing: 1px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  font-size: 18px;
  scroll-margin-top: 100vh;
}

.tech-images {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.tech-images img {
  margin: 50px;
  width: 200px;
  height: 150px;
  justify-content: center;
  user-select: none;
}

.work-image img {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
/* .img-banner{
  margin-left: 10%;
  display: inline-flex;
} */
.img-banner img {
  height: 300px;
  width: 400px;
  margin-left: 130px;
  margin-top: 32px;
  user-select: none;
}



.courses-area {
  margin-top: 50px;
  text-align: center;
  margin-left: 50px;
}

.card img {
  height: 230px;
  width: 100%;
  user-select: none;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading {
  color: #ffffff;
}
.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  /* background: url(img/heading-line.png); */
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  /* background: url(img/testimonial.bg-top.png); */
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}
#testimonial4 .carousel-inner:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item {
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active {
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control {
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
  transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}
.testimonial4_control_button .carousel-control.left {
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right {
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header {
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
.testinomial-sec {
  margin-top: 100px;
}

.fs-40 {
  font-size: 40px;
}

section {
  position: relative;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-wrap,
.section-title {
  text-align: center;
}

.shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24),
    0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}



.form-control:focus {
  border-color: rgba(165, 57, 219);
  box-shadow: 0 0 0 0.2rem rgba(253, 101, 90, 0.25);
}

.form-control::-webkit-input-placeholder {
  opacity: 0.5;
}

.form-control::-moz-placeholder {
  opacity: 0.5;
}

.form-control:-ms-input-placeholder {
  opacity: 0.5;
}

.form-control::-ms-input-placeholder {
  opacity: 0.5;
}

.form-control::placeholder {
  opacity: 0.5;
  color: black;
}

.testi-img img {
  height: 60px;
  width: 60px !important;
  border-radius: 50%;
  display: inline-block !important;
}

.testi-details {
  text-align: left;
}

.testi-text {
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testi-icon {
  color: #ff00cc;
}

.testi-content {
  margin-top: 80px;
  padding-bottom: 80px;
}

.testi-item {
  margin-left: 15px;
  margin-right: 15px;
}

.owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.owl-dot span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255, 0, 204, 0.3);
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.owl-dot.active > span {
  background-color: transparent;
  box-shadow: 0 0 0 2px #ff00cc;
}

.owl-dots {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  clear: both;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heading-section {
  position: relative;
}



.footer-clean {
  padding:50px 0;
  background-color:rgba(165, 57, 219);
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:20px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:16px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}



@media (max-width:1200px) {
  .custom-btn-about {
    width: 80px;
    background-color: rgba(165, 57, 219);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-width: 2px;
    border-radius: 12px;
    transition: 0.4s ease;
  }
  .custom-btn-about:hover {
    border-width: 2px;
    border-color: rgba(165, 57, 219);
    transition: 0.4s ease;
    color: rgba(165, 57, 219);
  }
  .custom-btn-contact {
    width: 150px;
    background-color: rgba(165, 57, 219);
    color: white;
    font-weight: 500;
    border-width: 2px;
    border-radius: 22px;
    transition: 0.5s ease;
  }
  .custom-btn-contact:hover {
    border-width: 2px;
    border-color: rgba(165, 57, 219);
    transition: 0.5s ease;
    color: rgba(165, 57, 219);
  }

  .img-banner img {
    margin-left: 2em;
    margin-top: 4em;
   height: 20em;
   width: 26em;
  }
}
@media (max-width:420px) {
  

  
}
@media (max-width:770px) {
  .img-banner img {
  display: none;
}

.Home-content{
  margin-bottom: 0em;
}
}
@media (max-width:870px) {
  .img-banner img {
  margin-top: 150px;
   height: 150px;
   width: 250px;
  }
}

@media (max-width:990px) {
  
  .img-banner img {
    margin-left: 3em;
    margin-top: 5em;
   height: 18em;
   width: 24em;
  }

  .title{
    font-size: 2em;
  }

  .mx-custom{
    margin-left: 12px;
    margin-top: 5px;
  }

  .blog {
    letter-spacing: 1px;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
  }
  .tech-subtitle {
    letter-spacing: 1px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    justify-content: center;
    display: flex;
    margin-top: 0px;
    font-size: 16px;
    scroll-margin-top: 100vh;
  }

  .tech-images {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .tech-images img {
    margin: 20px;
    width: 180px;
    height: 120px;
    justify-content: center;
    user-select: none;
  }

  
}
